services:
  server:
    image: server
    build:
      context: .
      dockerfile: Dockerfile
    container_name: serveur-api
    environment:
      - IS_DOCKER=true
    env_file: .env
    ports:
      - "${SERVER_PORT}:3000"
    networks:
      - app-network
    depends_on:
      - db

  db:
    image: mongo:latest
    container_name: mongodb-local
    restart: always
    ports:
      - "${MONGO_PORT}:27017"
    env_file: .env
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_USER}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_PASS}
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mongo-data: